*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
h1{
    font-size: 50px;
    line-height: 64px;
}


h2{
    font-size: 46px;
    line-height: 54px;
}


h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 0px 15px 20px 0px;
}

body{
    width: 100%;
}

.p1{
    padding: 1rem 2rem;
}

/* NavBar */


#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #e3e6f3;
    box-shadow: 0px 5px 5px rgba(0, 0, 0,0.1);
    padding: 20px 80px;
    width: 100%;
    position: sticky;
    top:0;
    left: 0;
    z-index: 999;
}



.nav-list{
    display: flex;
    list-style-type:none;
    align-items: center;
    justify-content: center;
    gap:1em;  
 
}

.nav-list li{
    padding: 0px 20px;
    position: relative;
}

.nav-list li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #171313;
    transition: 0.4s ease;

}

.nav-list li a:hover,
.nav-list li a.active{
    color:#088178;
}

.nav-list li a:hover::after,
.nav-list li a.active::after{
    content: "";
    background-color: #088178;
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#logo-img{
    width: 100%;
    height: 100px;
}


/* Hero Section */


#hero{
    padding: 50px;
    background-image: url("./assests/Hero.PNG");
    height: 90vh;
    width: 100%;
    background-size: cover;
    /* background-repeat: no-repeat; */
    
    background-color: #e3e6f3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero button{
    border-radius: 25px;
    height: 3em;
    width: 10em;
    color: #088178;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
#hero button:hover{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,255,128,1) 93%);
    color: black;
}

#hero h1{
    color:#088178;
}

#hero h4{
    padding-bottom: 15px;
}



/* Feature Section */

#feature{
    display: flex;
    gap: 1%;
    justify-content: center;
    background-color: white;
    
   
}

.fe-box{
    width: 15%;
    text-align: center;
    border: 2px solid #cce7d0;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.03);
}

.fe-box img{
    width: 100%;
    height: 8rem;
    
}

.fe-box:hover{
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
    border: 2px solid lightblue;
    transform: scale(1.1,1.1);
}

.fe-box h6{
    display: inline-block;
    margin: 0.5em 0.5em;
    padding: 0.5em 0.5em;
}

.fe-box:nth-child(2n+1) h6{
    background-color: #fddde4;
}

.fe-box:nth-child(2n) h6{
    background-color: #cdebbc;
}



/* Product 1  Section */

#product1 h2,p {
    text-align: center;
}

.pro-container{
    display: flex;
    gap:1em;
    flex-wrap: wrap;
    justify-content: center;
    
}

.pro {
    width: 20%;
    min-width: 250px;
    border: 2px solid #cce7d0;
    cursor: pointer;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.03);
    transition: 0.4s ease;
    border-radius: 5px;
    padding: 1em 

}


.pro:hover{
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
   
}

.pro img{
    width: 100%;
}

.pro .description{
    text-align: start;
    position: relative;
    
}

.pro .description h4:nth-child(2){
    color: #1a1a1a;
    padding-top: 0.3em;
}


.pro .description span{
    color: #606063;
}

.pro .description .star i{
    color: rgb(243,181,25);
    
}

.pro .description h4:nth-child(4){
    color: #088178;

}

.pro .description .cart-icon {
    position: absolute;
    top:55%;
    left: 85%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    color:#088178;
   

}

.fa-solid.fa-cart-plus::before{
    position: absolute;
    color:#088178;
    left: 50%;
    transform:translateX(-50%);

}

